<!DOCTYPE html>
<html>
<head>
  <title>Indie otp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "indie/otp/application", media: "all" %>
  <%= javascript_include_tag "indie/otp/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
